@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
}

a:link,
a:visited {
    background-color: white;
    color: black;
    padding: 14px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 2px;
}

a:hover,
a:active {
    background-color: rgb(233, 233, 233);
}

canvas {
    display: block;
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .heading {
        position: absolute;
        padding-top: 40px;
        padding-left: 40px;
        padding-right: 40px;
        font-family: 'DM Mono';
        font-weight: 500;
        color: white;
        font-size: 28px;
    }
    .description {
        position: absolute;
        top: 80px;
        max-width: 500px;
        padding-top: 40px;
        padding-left: 40px;
        padding-right: 40px;
        font-family: 'DM Mono';
        font-weight: 300;
        line-height: 26px;
        color: white;
        font-size: 14px;
    }
}


/* Medium and large devices (tablets/laptops/desktops, 600px and up) */

@media only screen and (min-width: 600px) {
    .heading {
        position: absolute;
        padding-top: 40px;
        padding-left: 40px;
        padding-right: 40px;
        font-family: 'DM Mono';
        font-weight: 500;
        color: white;
        font-size: 40px;
    }
    .description {
        position: absolute;
        top: 80px;
        max-width: 500px;
        padding-top: 40px;
        padding-left: 40px;
        padding-right: 40px;
        font-family: 'DM Mono';
        font-weight: 300;
        line-height: 26px;
        color: white;
        font-size: 16px;
    }
}