@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
}

body,
html {
    height: 100%;
    margin: 0;
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .heading {
        position: absolute;
        top: 60px;
        left: 40px;
        font-family: 'DM Mono';
        font-weight: 500;
        color: rgb(255, 255, 255);
        font-size: 28px;
    }
    .description {
        position: absolute;
        top: 140px;
        left: 40px;
        max-width: 430px;
        font-family: 'DM Mono';
        font-weight: 300;
        line-height: 26px;
        color: white;
        font-size: 14px;
    }
}


/* Medium and large devices (tablets/laptops/desktops, 600px and up) */

@media only screen and (min-width: 600px) {
    .heading {
        position: absolute;
        top: 60px;
        left: 60px;
        font-family: 'DM Mono';
        font-weight: 500;
        color: rgb(255, 255, 255);
        font-size: 40px;
    }
    .description {
        position: absolute;
        top: 140px;
        left: 60px;
        max-width: 430px;
        font-family: 'DM Mono';
        font-weight: 300;
        line-height: 26px;
        color: white;
        font-size: 16px;
    }
}

.bg {
    background-image: url("clouds.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}