.banner {
    display: flex;
    flex-direction: column;
}

.banner-text {
    padding-left: 12vw;
    padding-top: 4vw;
    width: 70vw;
    font-size: 4rem;
    font-weight: 500;
    line-height: 1.232;
    letter-spacing: 0em;
}

.banner-image {
    padding-top: 64px;
}

.banner-image>img {
    width: 100%;
}