.banner-text {
    padding-left: 4vw;
    padding-bottom: 4vw;
    padding-top: 6vw;
    padding-bottom: 6vw;
    width: 70vw;
    font-size: 4rem;
    font-weight: 500;
    line-height: 1.232;
    letter-spacing: 0em;
}