@import "../styles/styles.scss";
.contact-container {
    margin-top: 15vw;
    margin-left: 10vw;
    width: 80vw;
}

.contact-container>p>a {
    text-decoration: none;
    color: $salmon;
}

.contact-container>p>a:hover {
    text-decoration: underline;
}