.description-group {
    display: flex;
    flex-direction: column;
}

.group-title {
    width: 50vw;
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0em;
}

.group-body {
    padding-top: 28px;
    width: 40vw;
    font-size: 1rem;
    line-height: 1.8;
    letter-spacing: 0em;
}