.hero-container {
    margin: auto;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 10vw;
    text-align: center;
    width: fit-content;
}

.title-work>a,
.title-party>a {
    font-family: 'Nimbus-Sans-Bold-Extended', sans-serif;
    font-size: 140px;
    font-weight: bold;
    color: black;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-shadow: none;
    text-decoration: none;
}

.title-work>a:hover {
    -webkit-text-fill-color: black;
}

.title-party>a:hover>.art {
    -webkit-text-fill-color: black;
}