.footer-component {
    margin: auto;
    padding-left: 4vw;
    padding-right: 4vw;
    text-align: center;
    background-color: #F5F5F5;
    padding-top: 80px;
    padding-bottom: 80px;
}

.social-media-wrapper {
    margin-bottom: 20px;
}