.nav-link>a {
    font-size: 16px;
    color: #000;
    text-decoration: none;
    opacity: 1;
    transition: opacity 400ms ease-out;
}

.nav-link>a:hover {
    opacity: 0.5;
}

.nav-action>a {
    color: #000;
    text-decoration: none;
    opacity: 1;
    transition: opacity 400ms ease-out;
}

.nav-action>a:hover {
    opacity: 0.5;
}

.selected>a {
    font-weight: bold;
}