.header-component {
    height: 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4vw;
    padding-right: 4vw;
    .header-nav {
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-column-gap: 40px;
    }
}