.nav-logo {
    height: 40px;
}

.nav-logo>a {
    color: #000;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: normal;
    opacity: 1;
    transition: opacity 400ms ease-out;
}

.nav-logo>a:hover {
    opacity: 0.5;
}