.nav-link>a {
    font-size: 16px;
    color: #000;
    text-decoration: none;
    opacity: 1;
    transition: opacity 400ms ease-out;
}

.nav-link>a:hover {
    opacity: 0.5;
}

.nav-action>a {
    color: #000;
    text-decoration: none;
    opacity: 1;
    transition: opacity 400ms ease-out;
}

.nav-action>a:hover {
    opacity: 0.5;
}

.selected>a {
    padding-bottom: 8px;
    background-repeat: repeat-x;
    background-image: linear-gradient(to right, currentColor 100%, currentColor 0);
    background-size: 1px 1px;
    background-position: 0 calc(100% - 0.1em);
    white-space: initial;
}