@import "../styles/styles.scss";
.intro-header-container {
    background-color: $black;
}

.intro-header-group {
    padding: 8vw;
}

.intro-header-text {
    color: $white;
    font-family: "Nimbus-Sans-Regular", sans-serif;
    font-size: 4.5rem;
    line-height: 6rem;
}

.intro-body-container {
    height: 100vh;
    background-color: $black;
}

.intro-body-text {
    color: $white;
    font-family: "Nimbus-Sans-Regular", sans-serif;
    font-size: 3rem;
    line-height: 3.875rem;
    // max-width: 560px;
    // margin-top: 12px;
    padding: 8vw;
}

.intro-header-buttons {
    display: flex;
    margin-top: 48px;
}

.getintouch-button {
    padding-right: 24px;
}

.navigation-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0px;
}