@import "../styles/styles.scss";
.intro-header-container {
    background-color: $black;
}

.intro-header-inner {
    padding: 8vw;
    @media (max-width: $tablet) {
        padding-top: 40%;
    }
}

.intro-header-text {
    color: $platinum;
    font-family: "Nimbus-Sans-Regular", sans-serif;
    font-size: 4.5rem;
    line-height: 5.4rem;
    @media (max-width: $desktop) {
        font-size: 4rem;
        line-height: 4.8rem;
    }
    @media (max-width: $tablet) {
        font-size: 3rem;
        line-height: 3.6rem;
    }
    @media (max-width: $mobile) {
        font-size: 2.5rem;
        line-height: 3rem;
    }
}

.intro-body-container {
    background-color: $black;
}

.intro-body-text {
    padding: 8vw;
    color: $platinum;
    font-family: "Nimbus-Sans-Regular", sans-serif;
    font-size: 3rem;
    line-height: 3.875rem;
    @media (max-width: $tablet) {
        font-size: 2.25rem;
        line-height: 2.7rem;
    }
    @media (max-width: $mobile) {
        font-size: 2rem;
        line-height: 2.4rem;
    }
}

.intro-header-buttons {
    display: flex;
    margin-top: 48px;
    @media (max-width: $mobile) {
        display: block;
    }
}

.getintouch-button {
    padding-right: 24px;
    @media (max-width: $mobile) {
        padding-right: 0px;
        padding-bottom: 24px;
    }
}

.navigation-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @media (max-width: $desktop) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $tablet) {
        grid-template-columns: repeat(1, 1fr);
    }
    grid-column-gap: 0px;
}