@import "../styles/styles.scss";
a {
    text-decoration: none;
}

.navigation-card {
    height: 500px;
    background-color: $platinum;
    border-right-style: solid;
    border-color: $black;
    border-width: 2px;
}

.navigation-card-title,
.navigation-card-body {
    margin-left: 40px;
    margin-right: 40px;
}

.navigation-card-title {
    font-size: 2.25rem;
    line-height: 3.125rem;
    color: $black;
    padding-top: 40px;
}

.navigation-card-body {
    font-size: 1rem;
    line-height: 1.375rem;
    color: $onyx;
    padding-top: 8px;
}