@import "../styles/styles.scss";
.navigation-card {
    height: 50vh;
    background-color: $platinum;
    border-right-style: solid;
    border-top-style: solid;
    border-color: $black;
    border-width: 1px;
}

.navigation-card-title,
.navigation-card-body {
    margin-left: 40px;
    margin-right: 40px;
}

.navigation-card-title {}

.navigation-card-body {}