@import "../styles/styles.scss";
.primary-button-black>a {
    width: fit-content;
    background-color: $black;
    display: block;
    text-decoration: none;
    color: white;
    font-family: "Nimbus-Sans-Regular-Extended", sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 20px 44px;
    border-radius: 100px;
}

.primary-button-white,
.primary-button-black {
    width: fit-content;
    opacity: 1;
    transition: opacity 400ms ease-out;
}

.primary-button-white>a {
    width: fit-content;
    background-color: white;
    display: block;
    text-decoration: none;
    color: $black;
    font-family: "Nimbus-Sans-Regular-Extended", sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 20px 44px;
    border-radius: 100px;
}

.primary-button-white:hover,
.primary-button-black:hover {
    opacity: 0.9;
}