.primary-button {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 28px 60px;
    background-color: black;
}