@import "../styles/styles.scss";
.primary-button-black {
    display: inline-block;
    text-decoration: none;
    color: $cream;
    font-family: "Nimbus-Sans-Regular-Extended", sans-serif;
    font-size: 18px;
    padding: 28px 60px;
    background-color: $black;
    opacity: 1;
    transition: opacity 400ms ease-out;
}

.primary-button-white {
    display: inline-block;
    text-decoration: none;
    color: $black;
    font-family: "Nimbus-Sans-Regular-Extended", sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 28px 60px;
    background-color: $cream;
    opacity: 1;
    transition: opacity 400ms ease-out;
}

.primary-button:hover,
.primary-button-white:hover {
    opacity: 0.9;
}