@import "../styles/styles.scss";
.secondary-button-black>a {
    width: fit-content;
    display: block;
    text-decoration: none;
    color: $black;
    font-family: "Nimbus-Sans-Regular-Extended", sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 20px 44px;
    border-radius: 100px;
    border-color: $black;
    border-style: solid;
    border-width: 1px;
    background-color: transparent;
    transition: background-color 400ms ease-out;
    @media (max-width: $mobile) {
        font-size: 16px;
        padding: 16px 24px;
    }
}

.secondary-button-black,
.secondary-button-white {
    width: fit-content;
    @media (max-width: $mobile) {
        width: auto;
    }
}

.secondary-button-white>a {
    width: fit-content;
    display: block;
    text-decoration: none;
    color: $white;
    font-family: "Nimbus-Sans-Regular-Extended", sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 20px 44px;
    border-radius: 100px;
    border-color: $white;
    border-style: solid;
    border-width: 1px;
    background-color: transparent;
    transition: background-color 400ms ease-out;
    @media (max-width: $mobile) {
        font-size: 16px;
        padding: 16px 24px;
    }
}

.secondary-button-black>a:hover {
    background-color: $black;
    color: $white;
}

.secondary-button-white>a:hover {
    background-color: $white;
    color: $black;
}