@import "../styles/styles.scss";
.secondary-button-black>a {
    width: fit-content;
    display: block;
    text-decoration: none;
    color: $black;
    font-family: "Nimbus-Sans-Regular-Extended", sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 28px 60px;
    border-radius: 100px;
    border-color: $black;
    border-style: solid;
    background-color: transparent;
    transition: background-color 400ms ease-out;
}

.secondary-button-black,
.secondary-button-white {
    width: fit-content;
}

.secondary-button-white>a {
    width: fit-content;
    display: block;
    text-decoration: none;
    color: $white;
    font-family: "Nimbus-Sans-Regular-Extended", sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 28px 60px;
    border-radius: 100px;
    border-color: $white;
}

.secondary-button-black>a:hover {
    background-color: $black;
    color: $white;
}

.secondary-button-white:hover {
    background-color: $white;
    color: $black;
}