.my-masonry-grid {
    display: flex;
    margin-left: 4vw;
    margin-right: 2vw;
    margin-top: 80px;
    margin-bottom: 4vw;
}

.my-masonry-grid_column {
    margin-right: 2vw;
    /* gutter size */
    background-clip: padding-box;
    z-index: 10;
}


/* Style your items */

.my-masonry-grid_column>div {
    /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 3.3vw;
}

.my-masonry-grid_column>div>img {
    /* change div to reference your elements you put in <Masonry> */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.my-masonry-grid_column>div>video {
    /* change div to reference your elements you put in <Masonry> */
    width: 100%;
    height: 100%;
    object-fit: cover;
}