@font-face {
    font-family: "Nimbus-Sans-Regular-Extended";
    src: url("../fonts/Nimbus-Sans-Regular-Extended.ttf");
}

@font-face {
    font-family: "Nimbus-Sans-Bold-Extended";
    src: url("../fonts/Nimbus-Sans-Bold-Extended.ttf");
}

@font-face {
    font-family: "Nimbus-Sans-Bold";
    src: url("../fonts/Nimbus-Sans-Bold.woff");
}

@font-face {
    font-family: "Nimbus-Sans-Regular";
    src: url("../fonts/Nimbus-Sans-Regular.woff");
}

//media
$desktop:1200px;
$tablet:768px;
$font: "Nimbus-Sans-Regular",
sans-serif;
//colors
$black: #151515;
$cream: #fff8ec;
$blue: #0232bb;
$pacific: #20a0b6;
$pink: #f94c6c;
$salmon: #ff92a6;
$white: #ffffff;
$platinum: #edece8;
$onyx: #3e3e3e;
* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: $white;
}

html,
body {
    font-family: $font;
    font-size: 16px;
}

.contact-section {
    display: flex;
    flex-direction: column;
    background-color: $pacific;
    padding-top: 160px;
    padding-bottom: 160px;
}

.contact-heading {
    margin-left: 10vw;
    width: 50vw;
}

.contact-body {
    margin-left: 10vw;
    width: 40vw;
    margin-top: 28px;
}

.contact-button {
    margin-left: 10vw;
    margin-top: 32px;
}