@import "../styles/styles.scss";
.body-white,
.body-black {
    font-family: 'Nimbus-Sans-Regular', sans-serif;
    font-size: 1rem;
    line-height: 1.8;
    letter-spacing: 0em;
}

.body-white {
    color: #ffffff;
}

.body-black {
    color: $black;
}

.heading1 {
    font-family: 'Nimbus-Sans-Regular-Extended', sans-serif;
    color: $black;
    font-size: 5rem;
    line-height: 1.1;
    letter-spacing: 0em;
}

.heading2-white,
.heading2-black {
    font-family: 'Nimbus-Sans-Regular-Extended', sans-serif;
    font-size: 2.8rem;
    line-height: 1.2;
    letter-spacing: 0em;
}

.heading2-white {
    color: #ffffff;
}

.heading2-black {
    color: $black;
}

.heading3 {
    color: $black;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: 0em;
}