@import "../styles/styles.scss";
.banner {
    display: flex;
    flex-direction: column;
}

.banner-title {
    margin-top: 10vw;
    margin-left: 10vw;
    width: 80vw;
}

.banner-image {
    margin-top: 80px;
}

.banner-image>img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.work-header-container {
    margin-left: 4vw;
    padding-bottom: 2.8vw;
    margin-top: 160px;
    margin-right: 40px;
    @media (max-width: $tablet) {
        padding-bottom: 64px;
    }
}

.work-header-title {
    font-size: 2.25rem;
    line-height: 3.125rem;
    color: $black;
    @media (max-width: $mobile) {
        font-size: 1.8rem;
        line-height: 2.16rem;
    }
}

.work-header-body {
    width: 40vw;
    margin-top: 12px;
    font-size: 1rem;
    line-height: 1.375rem;
    color: $onyx;
    @media (max-width: $desktop) {
        width: 60vw;
    }
    @media (max-width: $tablet) {
        width: 80vw;
    }
    @media (max-width: $mobile) {
        width: 90vw;
    }
}

.project-grid {
    margin: 0 auto;
    padding: 4vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 48px;
    grid-auto-rows: min-content;
    @media (max-width: $tablet) {
        grid-template-columns: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 48px;
    }
}